*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*****************************navbar***************************/

.cover-nav {
    background-image: url(../images/Train+on+Bridge+Hero+Sunset+Teal+Sydney+Metro+6k.jpg);
    width: 100%;
    height: 18%;
    
    }
  
  .layer
  {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    padding: 20px;
  }
  
  .cover-nav a:link 
  {
    text-decoration: none;
  }
  
  .cover-nav a
  {
    color: #000;
  }
  
  .cover-nav a:hover
  {
    color: #000;
      
  }
  
  .logo 
  {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  
  .navbar-dark .navbar-nav .nav-link
  {
    color: #fff;
  }
  
  .btn-outline-success {
    color: #fff;
    border-color: #fff;
  }
  
  .btn-outline-success:hover {
    background-color: #1D2529;
    border-color: #1D2529;
  }

  .nav-item
  {
    margin-right: 7px;
  }

/*******************************************************/
.ticket{
    /* background-image: url(../images/ti2.webp); */
    background-position: left;
    background-repeat: no-repeat;  
    background-size: cover;
}
.ticketImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}



/*****************************ticketInfo*****************/
.ticketInfo
{
  /* background-color: #f7f7f7; */
  border: 2px solid rgba(227, 227, 230, 0.125); 
  box-shadow: 2px 2px 2px 4px #d2d2d8;
  border-radius: 20px;
}
.img-map 
{
  width: 100%;
  /* height: 100%; */
  border: 2px solid rgba(12, 3, 112, 0.125); 
  box-shadow: 2px 2px 2px 4px #79797e;
}
.textBold
{
  font-weight: bold;
}
.info
{
  line-height: 8px;
}
.tick
{
 line-height: 1px;
}
.cardInfo
{
  line-height: 8px;
}
/******************************Footer*******************/
footer
{
  background: #1c1c1c;
}
footer p 
{
  font-size: 13px;
  word-spacing: 2px;
  color: #748182;
}

.btn-group
{
  margin-right: 30px;
}
